<p-table [value]="users">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name" style="width: 20%">
        <div class="flex align-items-center gap-2">
          Name
          <p-sortIcon field="name" />
        </div>
      </th>
      <th pSortableColumn="email" style="width: 30%">
        <div class="flex align-items-center gap-2">
          Email
          <p-sortIcon field="email" />
        </div>
      </th>
      <th style="width: 15%">Status</th>
      <th style="width: 15%">Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>
        <p-tag
          [value]="user.active ? 'ATTIVO' : 'BANNATO' "
          [severity]="user.active ? 'success' : 'danger' "
        ></p-tag>
      </td>
      <td>
        <p-button
          [rounded]="true"
          [text]="true"
          (click)="editUser(user.name)"
          icon="pi pi-pencil"
        ></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
