<p-table
  [value]="users"
  [lazy]="true"
  [paginator]="true"
  [rows]="10"
  [totalRecords]="totalRecords"
  [loading]="isLoading"
  (onLazyLoad)="loadUsers($event)"
  dataKey="id" 
>
  <ng-template pTemplate="header">
    <tr>
      <th width="5%"></th>
      <th pSortableColumn="name" width="20%">
        <div class="flex align-items-center gap-2">
          Name
          <p-sortIcon field="name" />
        </div>
      </th>
      <th pSortableColumn="email" width="20%">
        <div class="flex align-items-center gap-2">
          Email
          <p-sortIcon field="email" />
        </div>
      </th>
      <th width="15%">Status</th>
      <th width="15%">Actions</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-user let-expanded="expanded">
    <tr>
      <td>
        <p-button
          [pRowToggler]="user"
          [text]="true"
          [rounded]="true"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
        />
      </td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>
        <p-tag
          [value]="user.active ? 'ATTIVO' : 'BANNATO' "
          [severity]="user.active ? 'success' : 'danger' "
        ></p-tag>
      </td>
      <td>
        <p-button
          icon="pi pi-pencil"
          [rounded]="true"
          [text]="true"
          (onClick)="editUser(user.name)"
        ></p-button>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="rowexpansion" let-user>
    <tr>
      <td colspan="5">
        <div class="p-3">
          <h4>Dettagli di {{user.name}}</h4>
          <p>Email: {{user.email}}</p>
          <p>Ruolo: {{user.role}}</p>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
